.single-component {
  cursor: default;
}
.full-name {
  display: flex;
  justify-content: center;
  font-size: 24px;
  margin-bottom: 15px;
}

.about {
  margin-bottom: 15px;
}

.registered {
  text-align: end;
  font-size: 17px;
  margin-bottom: 20px;
}

.tag__list {
  display: flex;
  flex-wrap: wrap;
}